<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
	<link rel="stylesheet" th:href="@{/css/cadastro.css}">
</head>
<body>
	<nav th:fragment="main-navbar" class="navbar">
		    <div class="navbar-brand">
		        <a th:href="@{/empresarial}">Início</a>
		    </div>
		    <ul class="navbar-nav">
		        <li class="nav-item">
		            <a th:href="@{/empresarial/cliente}" class="nav-link">Clientes</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/locatario}" class="nav-link">Locatários</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/sala}" class="nav-link">Salas</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/relatorio}" class="nav-link">Relatórios</a>
		        </li>
		    </ul>
		</nav>
	<script th:src="@{/js/script.js}"></script>
    <div class="container">
        <h2>Cadastro de Cliente</h2>
		<div th:if="${mensagemSucesso}" class = "success-message">
			<p th:text="${mensagemSucesso}"></p>
		</div>
		
		<div th:if="${mensagemErro}" class = "error-message">
					<p th:text="${mensagemErro}"></p>
				</div>
        <form method = "post" action = "/empresarial/cliente/cadastro" th:object="${clienteRequest}">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="name" name="name" required>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" maxlength="11" placeholder="Apenas números">
				<p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="error-message"></p>
            </div>
			
			<div class="form-group">
			    <label for="dataNascimento">Data de Nascimento:</label>
			    <input type="date" id="dataNascimento" name="dataNascimento" th:field="*{dataNascimento}" required>
			    <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="error-message"></p>
			</div>
			
			<div class="form-group">
			     	<label for="telefone">Telefone:</label>
			     	<input type="tel" id="telefone" name="phone" maxlength="11" placeholder="Apenas números (Ex: 81999999999)" >
			</div>


			 <div class="form-group">
			    	<label for="email">E-mail:</label>
			       	<input type="email" id="email" name="email" >
			       	</div>
			
            <div class="form-group">
                <label>Sexo:</label>
                <div class="radio-group">
                    <input type="radio" id="masculino" name="genero" value="masculino" required>
					<p th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error-message"></p>
                    <label for="masculino">Masculino</label>
                    <input type="radio" id="feminino" name="genero" value="feminino" required>
					<p th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error-message"></p>
                    <label for="feminino">Feminino</label>
                </div>
            </div>

            <div class="form-group">
                <label for="profissao">Profissão:</label>
                <input type="text" id="profissao" name="job" required>
				<p th:if="${#fields.hasErrors('job')}" th:errors="*{job}" class="error-message"></p>
            </div>

			<button type = "submit" class = "btn-primary"> Cadastrar</button> 

            </form>
    </div>

    <script>
        // Função para permitir apenas números em um input
        function allowOnlyNumbers(inputElement) {
            inputElement.addEventListener('input', function(event) {
                // Remove qualquer caractere que não seja um dígito
                this.value = this.value.replace(/\D/g, '');
            });
        }

        // Aplica a função aos campos de CPF e Telefone
        const cpfInput = document.getElementById('cpf');
        const telefoneInput = document.getElementById('telefone');

        allowOnlyNumbers(cpfInput);
        allowOnlyNumbers(telefoneInput);
    </script>
</body>
</html>