<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/procurar.css}"> </head>
<body>
	<nav th:fragment="main-navbar" class="navbar">
		    <div class="navbar-brand">
		        <a th:href="@{/empresarial}">Início</a>
		    </div>
		    <ul class="navbar-nav">
		        <li class="nav-item">
		            <a th:href="@{/empresarial/cliente}" class="nav-link">Clientes</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/locatario}" class="nav-link">Locatários</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/sala}" class="nav-link">Salas</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/relatorio}" class="nav-link">Relatórios</a>
		        </li>
		    </ul>
		</nav>
    <div class="container">
        <h2>Buscar Cliente por Nome</h2>

        <div th:if="${mensagemErro}" class="error-message">
            <p th:text="${mensagemErro}"></p>
        </div>

        <form method="post" th:action="@{/empresarial/cliente/procurar}">
            <div class="form-group">
                <label for="name">Digite o nome do cliente:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <button type="submit" class="btn-primary">Buscar</button>
        </form>

        <div th:if="${cliente}">
            <h3>Dados do Cliente:</h3>
            <p><strong>Nome:</strong> <span th:text="${cliente.name}"></span></p>
            <p><strong>CPF:</strong> <span th:text="${cliente.cpf}"></span></p>
            <p><strong>Telefone:</strong> <span th:text="${cliente.phone}"></span></p>
			<p><strong>Data de Nascimento:</strong> <span th:text="${cliente.dataNascimento}"></span></p>
            <p><strong>E-mail:</strong> <span th:text="${cliente.email}"></span></p>
            <p><strong>Gênero:</strong> <span th:text="${cliente.genero}"></span></p>
            <p><strong>Profissão:</strong> <span th:text="${cliente.job}"></span></p>
        </div>
		
		<div th:if="${consultas != null}"> <h3>Lista de Consultas:</h3>
		           <ul class="consulta-list">
		               <li th:each="consulta : ${consultas}" class="consulta-item"> 
							<p><strong>Data:</strong> <span th:text="${#temporals.format(consulta.data, 'dd/MM/yyyy')}"></span></p>
		                   <p><strong>Horário:</strong> <span th:text="${#temporals.format(consulta.horario, 'HH:mm')}"></span></p>
		                   <p><strong>Sala:</strong> <span th:text="${consulta.sala != null ? consulta.sala.numero : 'N/A'}"></span></p>
		               </li>
		           </ul>
		       </div>
		
    </div>
</body>
</html>