<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/cliente/styleTelaEditarCliente.css}"> </head>
<body>
    <div class="main-container"> <h2>Editar Cliente</h2>
		<div th:if="${mensagemSucesso}" class="success-message">
		            <p th:text="${mensagemSucesso}"></p>
		</div>
        <div th:if="${mensagemErro}" class="error-message-general">
            <p th:text="${mensagemErro}"></p>
        </div>
		

        <div class="form-section"> <h3>Buscar Cliente por Nome</h3>
            <form method="post" th:action="@{/empresarial/cliente/editar/procurar}" class="styled-form">
                <div class="form-group">
                    <label for="name">Digite o nome do cliente:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <button type="submit" class="btn-primary">Buscar</button>
            </form>
        </div>
</body>