<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
	<link rel="stylesheet" th:href="@{/css/locatario/OpçõesLocatario.css}">
</head>
<body>
    <div class="container_buttons">
		
		<a th:href="@{/empresarial/sala/cadastro}" class="button-wrapper">
        	<button class="buttons">Cadastrar Sala</button>
		</a>
		
		<a th:href="@{/empresarial/locatario/delete}" class="button-wrapper">
		<button class="buttons">Remover Sala</button>
		</a>
		
		<a th:href="@{/empresarial/sala/procurar}" class="button-wrapper">
        <button class="buttons">Editar Sala</button>
		</a>
		
		<a th:href="@{/empresarial/sala/procurar}" class="button-wrapper">
        	<button class="buttons">Procurar Sala</button>
		</a>
    </div>
</body>
</html>