<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Sala</title>
    <link rel="stylesheet" th:href="@{/css/editar.css}"> </head>
<body>
	<nav th:fragment="main-navbar" class="navbar">
		    <div class="navbar-brand">
		        <a th:href="@{/empresarial}">Início</a>
		    </div>
		    <ul class="navbar-nav">
		        <li class="nav-item">
		            <a th:href="@{/empresarial/cliente}" class="nav-link">Clientes</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/locatario}" class="nav-link">Locatários</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/sala}" class="nav-link">Salas</a>
		        </li>
		        <li class="nav-item">
		            <a th:href="@{/empresarial/relatorio}" class="nav-link">Relatórios</a>
		        </li>
		    </ul>
		</nav>
    <div class="main-container"> <h2>Editar Sala</h2>
		<div th:if="${mensagemSucesso}" class="success-message">
		            <p th:text="${mensagemSucesso}"></p>
		</div>
        <div th:if="${mensagemErro}" class="error-message">
            <p th:text="${mensagemErro}"></p>
        </div>
		

        <div class="form-section"> <h3>Buscar Sala por Número</h3>
            <form method="post" th:action="@{/empresarial/sala/editar/procurar}" class="styled-form">
                <div class="form-group">
                    <label for="name">Digite o número da sala:</label>
                    <input type="text" id="numero" name="numero" required>
                </div>
                <button type="submit" class="btn-primary">Buscar</button>
            </form>
        </div>
</body>